body {
    background: #E0E0E0;
    header {
        background: #006064;
        h3 {
            font-size: 2.5rem;
            color: #E0E0E0;
            font-family: $barrio;
        }
    }
    #compteur {
        .bloc {
            h3 {
                font-size: 1.5rem;
            }
        }
    }
}